@use "colors";
@use "consts";

window.Bar {
  background: transparent;
  background: colors.$background;
  font-weight: bold;
  color: colors.$foreground;

  >centerbox {
    // background: #{$theme_bg_color};
    // background: $color_background;
    border-radius: 10px;
    // margin: 8px;
  }

  button {
    margin: 2px;
  }
}

.QsPart {
  padding: 0.2rem 0.6rem;
  background: colors.$background;

  // $b: 1rem;
  // $w: consts.$border_width;
  // border: $w solid colors.$primary;
  // border-style: solid;
  // border-radius: $b;
  //
  // &.start {
  //   border-radius: 0 0 $b 0;
  //   border-width: 0 $w $w 0;
  // }
  //
  // &.center {
  //   border-radius: 0 0 $b $b;
  //   border-width: 0 $w $w $w;
  // }
  //
  // &.end {
  //   border-radius: 0 0 0 $b;
  //   border-width: 0 0 $w $w;
  // }

}

.workspaces button {
  font-size: 1rem;
  min-width: 2rem;
  // background: $color_foreground;
  // color: red;

  &.focused {
    color: colors.$primary;
  }
}
