
.fiz-bar {
  background: $color_background;
  border: $border_width solid $color_primary;
  border-radius: $border_radius;
}

.fiz-section {
  // padding: 0rem 0rem;
  padding: 2rem 0;

  // background: red;
  // box {
  //   background: green;
  // }

  // padding: 2rem;
}

.date label {
  color: $color_primary;
  font-size: 3rem;
}

.title {
  // min-width: 500px;
  font-size: 4rem;
  margin: 2rem;
  color: $color_primary;
  // padding: 2rem 1rem;
  // padding: 0rem 2rem;

  &.white {
    color: $color_foreground;
  }

  // box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
}

