@use "colors";
@use "consts";
@use 'sass:color';

window.Hee {
  background: transparent;
  color: colors.$foreground;

  &.dimmed {
    // background: colors.$background;
    background: color.adjust(colors.$background, $alpha: -0.1);
    // background: color.adjust(black, $alpha: -0.4);
    // background: transparent;
    color: colors.$primary;
  }

  .hee-text {
    // padding: 1rem;

    label {
      // font-size: 12rem;
      font-size: 6rem;
      color: colors.$primary;
      // color: colors.$foreground;
    }
  }

  entry {
    font-size: 0.8rem;
    margin: 0.5rem;

    selection {
      color: colors.$background;
      background: colors.$primary;
    }

    progress {
      color: red;
    }
  }
}
