
.indicator.circular {
  color: green;
  margin: 10px;
  min-width: 120px;
  min-height: 120px;
  background: black;
  /* color: cyan; */
  border: 100px solid white;
}

.indicator label {
  /* color: linear-gradient(); */
  /* color: $color1; */
  /* color: cyan; */
  /* text-shadow: 2px 2px red; */
  font-size: 1.2rem;
  font-weight: 500;
}

.indicator progress {
  background: $color_primary;
}

.indicator-extended progress {
  background: $color_error;
}

