.light box {
  min-height: 100px;
  min-width: 100px;
}

.light.top {
  background: linear-gradient(to top, transparent, $color_primary);
}

.light.bottom {
  background: linear-gradient(to bottom, transparent, $color_primary);
}

.light.left {
  background: linear-gradient(to left, transparent, $color_primary);
}

.light.right {
  background: linear-gradient(to right, transparent, $color_primary);
}
