@import "colors/custom_gen";

* {
  font-family: "CaskaydiaMono Nerd Font";
  font-weight: bold;
}

label,
image {
  color: $color_foreground;
}

button {
  background: transparent;
  border: 0;
}

// $border_radius: 1.5rem;
$border_radius: 20px;
$border_width: 3px;

@import "indicator";
@import "bar";
// @import "vbar";
@import "fiz_bar";
@import "quicksettings";
@import "hee";
@import "light";
@import "volchanger";
@import "wallpaper";
