
.quicksettings {
  // background: transparentize($color_background, 0.1);
  background: $color_background;
  margin: 5rem;
  font-size: 1rem;

  // border: $border_width solid $color_primary;
  // border-radius: 2rem;

  $w: $border_width;
  border: $w solid $color_primary;
  $r: 2rem;
  border-radius: $r;

  border-width: $w 0 $w $w;
  border-radius: $r 0 0 $r;

  calendar {
    background: transparent;
    color: $color_foreground;
    &:selected {
      color: $color_primary;
    }
    &:indeterminate {
      color: gray;
    }
  }

  separator {
    background-color: $color_primary;
    margin: 1rem 0;
    border-radius: 1rem;
    min-height: 5px;
  }
}

.desktop-clock {
  font-size: 6rem;
  color: $color_primary;
  // outline: green dotted 5px;

  // background-image: url("wallpapers/mountain.png");
  // background-position: center;
  // background-size: cover;
  background: transparent;

  // box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
}

