
.bar {
  background: $color_background;
  background: transparent;

}

.bar-section {
  // padding: 0.2rem 0.6rem;
  padding: 0.6rem 0.6rem;
  // background: transparent;
  background: $color_background;
  // font-size: 5rem;

  $b: 1rem;
  $w: $border_width;
  border: $w solid $color_primary;
  border-radius: $b;

  // &.start {
  //   border-radius: 0 0 $b 0;
  //   border-width: 0 $w $w 0;
  // }
  // &.center {
  //   border-radius: 0 $b $b 0;
  //   border-width: $w $w $w 0;
  // }
  // &.end {
  //   border-radius: 0 $b 0 0;
  //   border-width: $w $w 0 0;
  // }

}

.workspaces label {
  color: $color_foreground;
  min-height: 2rem;
  // border: 1px solid red;
  &.visible {
    color: $color_secondary;
  }
  &.active {
    color: $color_primary;
  }
}

