@use "colors";
@use "consts";

window.VolumeLevel {
  background: transparent;

  >box {
    padding: 10px 20px;
    background: colors.$background;
    color: colors.$foreground;
    // color: #{$theme_bg_color};
    font-weight: bold;
    border-radius: 1.5rem;
    border: consts.$border_width solid colors.$primary;
  }
}
