window.wallpaper {
  // background: url("wallpapers/157385.jpg");
  background: url("wallpapers/HappyBlueJive.jpg");
  background-position: center;
  background-size: cover;
  // animation: haha 1s infinite;
  // animation-direction: alternate;
  // background-size: cover;
}
