$theme: 'dark';
$image: url('wallpapers/Pictures/wallpapers/sin_cos_2.png');

$color_background: #171216
$color_foreground: #ecdfe5
$color_primary: #f2b3e5
$color_error: #ffb4ab

/*

$color_background: #171216;

$color_error: #ffb4ab;

$color_error_container: #93000a;

$color_inverse_on_surface: #352e33;

$color_inverse_primary: #804d78;

$color_inverse_surface: #ecdfe5;

$color_on_background: #ecdfe5;

$color_on_error: #690005;

$color_on_error_container: #ffdad6;

$color_on_primary: #4c1f48;

$color_on_primary_container: #ffd7f4;

$color_on_primary_fixed: #340831;

$color_on_primary_fixed_variant: #66355f;

$color_on_secondary: #3d2a39;

$color_on_secondary_container: #f8daee;

$color_on_secondary_fixed: #271624;

$color_on_secondary_fixed_variant: #554050;

$color_on_surface: #ecdfe5;

$color_on_surface_variant: #d1c2cb;

$color_on_tertiary: #4c261a;

$color_on_tertiary_container: #ffdbd0;

$color_on_tertiary_fixed: #321207;

$color_on_tertiary_fixed_variant: #663c2e;

$color_outline: #9a8d95;

$color_outline_variant: #4e444b;

$color_primary: #f2b3e5;

$color_primary_container: #66355f;

$color_primary_fixed: #ffd7f4;

$color_primary_fixed_dim: #f2b3e5;

$color_scrim: #000000;

$color_secondary: #dbbed2;

$color_secondary_container: #554050;

$color_secondary_fixed: #f8daee;

$color_secondary_fixed_dim: #dbbed2;

$color_shadow: #000000;

$color_source_color: #ae00a9;

$color_surface: #171216;

$color_surface_bright: #3e373c;

$color_surface_container: #241e22;

$color_surface_container_high: #2f282d;

$color_surface_container_highest: #3a3337;

$color_surface_container_low: #201a1e;

$color_surface_container_lowest: #120c11;

$color_surface_dim: #171216;

$color_surface_variant: #4e444b;

$color_tertiary: #f5b8a6;

$color_tertiary_container: #663c2e;

$color_tertiary_fixed: #ffdbd0;

$color_tertiary_fixed_dim: #f5b8a6;

*/
